# Node Modules
node_modules/
client/node_modules/
server/node_modules/

# Build Files
client/dist/

# Environment Files
server/.env
client/.env

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db